/* Tab Container */
.tab-container {
  max-width: 600px;
  margin: 0 auto;
}

/* Tab Buttons */
.tab-buttons {
  display: flex;
}

.tab-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 119px;
}

.sec-button {
    background-color: #9042c4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 110px;
    margin: 0 auto;
}
.pause-button {
    background-color: red;
}
.start-button {
    background-color: green;
}

.tab-button:focus {
  outline: none;
}
.tab-button:first-child {
  margin-left: 0;
}

.tab-button:hover {
  background-color: #45a049;
}

.tab-button.active {
  background-color: #45a049;
}

/* Tab Content */
.tab-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.dashboard {
    -webkit-user-select: initial;
}